
/* @import './colors/interstellar-pink.css'; */
@import './colors/interstellar-blue.css';
/* @import './colors/celestial-blaze.css'; */

* {
    border: none;
    border-radius: 0px;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
   /* background: rgba(30, 30, 46, 0.5); */
  background: rgba(0, 0, 0, 0.5); 
  border-bottom: 1px solid @bg-color-secondary;
    color: @text-color-primary;  
}

#workspaces {
	background: @bg-color-secondary;
	margin: 5px 15px 5px 15px;
  padding: 0px 5px 0px 5px;
         box-shadow: 0 0 5px 0px @border-color-primary; /* Pink glow */

	border-radius: 16px;
  border: solid 1px @border-color-primary;
  font-weight: normal;
  font-style: normal;
 }
#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: @muted-text-color;
}

#workspaces button.active {
    color: @text-color-primary;
    background-color: transparent;
    border-radius: 16px;
}

#workspaces button:hover {
	background-color: @text-color-secondary;
	color: black;
	border-radius: 16px;
}

#custom-date, #clock, #pulseaudio, #custom-randwall, #custom-launcher, #battery, #battery.icon{
	background: @bg-color-primary;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
 /* border-bottom: solid 1px @border-color-primary;
*/
}

#custom-power {
	color: @power-text-color;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#tray {
    background: @bg-color-secondary;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    padding: 0px 5px;
    /*border-right: solid 1px #282738;*/
}

#clock {
    color: @text-color-secondary;
    background-color: @bg-color-secondary;
    border: 1px solid @border-color-primary;
    border-right: none;
    border-radius: 20px 0px 0px 10px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    
    /*border-left: solid 1px #282738;*/
}


#clock.calendar {
    color: @text-color-secondary;
    background-color: @bg-color-secondary;
  border: 1px solid @border-color-primary;
  border-left: none;
    border-radius: 0px 10px 20px 0px;
    padding: 0px 10px 0px 0px;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}



#network {
  background: @bg-color-primary;
   border-radius: 0px 0px 0px 20px;
    padding-left: 8px;
    padding-right: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
 /*   border-bottom: solid 1px  @border-color-primary;
    border-left: solid 1px  @border-color-primary;
*/
}

#network.wifistrenght {
        border-radius: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 6px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: none;

}



#backlight {
    background: @bg-color-primary;
    color: @text-color-primary;
    border-radius: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 8px;
    padding: 0px 0px;
/*    border-bottom: solid 1px  @border-color-primary;
      border-right: none;
*/
}

#battery {
    color: @battery-color;
        background-color: @bg-color-secondary;
        border: 1px solid @border-color-primary;
    border-right: none;
    border-radius: 10px 0px 0px 20px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
/*    border-bottom: solid 1px  @border-color-primary;
  border-bottom-left-radius: 20px;
*/

}

#battery.icon {
  background-color: @bg-color-secondary;

      border: 1px solid @border-color-primary;
  border-left: none;
    border-radius: 0px 20px 10px 0px;
    padding: 0px 10px 0px 0px;
    margin: 5px 0px 5px 0px;
/*  border-bottom: solid 1px  @border-color-primary;
*/
}

#battery.charging {
    color: @battery-color;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: @power-text-color;
    border-radius: 5px 5px 5px 5px;
}

#pulseaudio, #battery {
/*  border-bottom: solid 1px @border-color-primary;
*/
}


#pulseaudio {
    color: @text-color-primary;
  padding-left: 4px;
  padding-right: 4px;
/*  border-bottom: solid 1px  @border-color-primary;
  border-right: none;
      border-bottom: solid 1px  @border-color-primary;
*/
}


#pulseaudio.muted {
    color: @muted-text-color;
  padding-right: 4px;
/*  border-bottom: solid 1px  @border-color-primary;
    border-bottom: solid 1px  @border-color-primary;

*/

}



/*
#custom-randwall {
    color: @text-color-primary;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-launcher {
    color: #e5809e;
    background-color: @bg-color-secondary;
    border-radius: 0px 20px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    border-right: solid 1px #282738;
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}
*/
#custom-playerctl {
	background: @bg-color-secondary;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: @bg-color-secondary;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}
/*
#custom-wf-recorder {
    padding: 0 20px;
    color: #e5809e;
    background-color: #1E1E2E;
}
*/
#cpu {
    background-color:@bg-color-primary;
     border: 1px solid @bg-color-secondary;
    border-right: none;
    border-radius: 20px 0px 0px 10px;
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 5px 5px;
    font-weight: bold;
}

#memory {
    background-color:@bg-color-primary;
    /*color: #FABD2D;*/
    margin: 0px;
    margin-left: 0px;
  padding-left: 16px;
  padding-right: 2px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
}

#disk {
    background-color: @bg-color-primary;
    /*color: #83A598;*/
   border-radius: 0px 0px 20px 0px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-mediaplayer
{
  font-size: 14px;
  border-radius: 0px 10px 10px 0px;
  margin-top: 2px;
  margin-bottom: 2px
}
@import "./waybar-mediaplayer/src/mediaplayer-progressbar.css";


#custom-hyprpicker {
    background-color: @bg-color-secondary;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}
